@charset "UTF-8";

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    section.inicio{
        height: 700px;
    }

    section.menu{
        flex-flow: row wrap;
        gap: 30px;
        justify-content: center;
        margin-top: 50px;
    }

    h1.palavra-menu{
        display: none;
    }
}

/* desktop */
@media screen and (min-width: 992px) {

    body.principal{
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    body.pg-menu{
        width: 100vw;
        height: 100vh;
        position: relative;
    }

    header.voltar-do-menu{
        position: sticky;
        top: 0;
        background-color:lightgray;
        user-select: none;
    }

    header{
        display: flex;
        align-items: flex-start;
        height: 60px;
    }

    section.inicio{
        height: 100%;
    }

    menu.contacte-nos{
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
        font-weight: bold;
    }

    menu > a{
        padding: 10px;
        text-decoration: none;
        color: white;
        border-radius: 10px;
    }

    menu > a:hover{
        background-color: rgb(107, 28, 28);
    }

    menu > a:active{
        opacity: 0.6;
    }

    menu > p{
        padding: 10px;
    }

    section.menu{
        display: none;
    }

    section.contacto{
        display: none;
    }

    h1{
        text-align: center;
        margin: 0px 0px 50px 10px;
    }

    div.lanche-do-menu{
        display: flex;
        flex-flow: row wrap;
        gap: 50px;
        margin-left: 50px;
    }
}